@model MvcShapes.Models.Shape
@{
    ViewBag.Title = "GetAreaOfRectangle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shape: @Model.Name</h2>

<p><bold>Area of Rectangle:</bold>@Model.Area</p>

