
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rectangle</h2>
@using (Html.BeginForm("GetAreaOfRectangle", "Rectangle"))
{
    <table class="table">
        <tr>
            <td>
                Width:    <input type="text" id="inputWidth" name="width"><br>
                Height:    <input type="text" id="inputHeight" name="height"><br>
                <input type="submit" id="submitId" value="Submit" onclick="window.location.href = '/Rectangle/GetAreaOfRectangle/width/height';">
            </td>
        </tr>
    </table>
}
