
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Circle</h2>
@using (Html.BeginForm("GetAreaOfCircle", "Circle"))
{
    <table class="table">
        <tr>
            <td>
                Input Radius:    <input type="text" id="inputRadius" name="radius"><br>
                <input type="submit" id="submitId" value="Submit" onclick="window.location.href = '/Circle/GetAreaOfCircle/radius';">
            </td>
        </tr>
    </table>
}

