
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shapes Index</h2>
<table class="table">
    <tr>
        <td>
            Circle:    <input type="submit" id="submitId" value="Submit" onclick="window.location.href = '/Circle/Index';">
        </td>
    </tr>
    <tr>
        <td>
            Square:    <input type="submit" id="submitId" value="Submit" onclick="window.location.href = '/Square/Index';">
        </td>
    </tr>
    <tr>
        <td>
            Rectangle:    <input type="submit" id="submitId" value="Submit" onclick="window.location.href = '/Rectangle/Index';">
        </td>
    </tr>
</table>
